body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color:red;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 100px;
    cursor: pointer;
    margin: 3px;
  }
  
  #header-wrapper {
    display:flex; 
    justify-content: center;
    align-items: center;
  }

  #text-wrapper {
    display:flex; 
    justify-content: center;
    align-items: center;
  }

  .nav-wrapper {
    display:flex; 
    justify-content: center;
    align-items: center;
  }

  #img-wrapper {
    display:flex; 
    justify-content: center;
    align-items: center;
  }

  h2 {
    display:flex; 
    justify-content: center;
    align-items: center;
  }

  #video-wrapper {
    display:flex; 
    justify-content: center;
    align-items: center;
  }

  .link {
    color: red;
    font-size: small;
    cursor: pointer;
  }

  .img {
    width: 100%;
    max-width: 500px;
    height: 500%;
    max-height: 500px;
}